.loginPage {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-light);
  margin: 0;
}

.form {
  width: 100%;
  max-width: 400px;

  background-color: white;
  padding: 40px;

  border-radius: var(--radius-md);
  box-shadow: var(--shadow-sm);

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 28px;
}

.input {
  padding: 12px 15px;

  border: 1px solid #ddd;
  border-radius: var(--radius-md);

  outline: none;
  font-size: 14px;

  transition: 0.2s;
  
}

.input:focus {
  border-color: var(--color-primary);
}

.button {
  padding: 12px;

  background-color: var(--color-primary);
  color: white;

  border-radius: var(--radius-md);

  font-weight: bold;

  transition: 0.3s;
}

.button:hover {
  background-color: var(--color-primary-hover);
}

.error {
  color: #ef4444;

  font-size: 13px;

  text-align: center;

  margin-top: -5px;
}

.passwordWrapper {
  display: flex;
  align-items: center;

  border: 1px solid #e5e7eb;

  border-radius: 10px;

  overflow: hidden;

  background: white;
}

.passwordInput {
  flex: 1;

  padding: 12px 14px;

  border: none;

  outline: none;

  font-size: 14px;
}

.toggleButton {
  background: transparent;

  border: none;

  cursor: pointer;

  padding: 0 14px;

  font-size: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
}
